<p>
    <b> Razón Social: </b>
    <br> {{local.razonSocial}}
</p>
<p>
    <b> Nombre Cliente: </b>
    <br>{{local.nomLocalCliente}}
</p>

<!-- <button class="btn btn-lg btn-outline-primary mb-3" (click)="open()">Mostar Clientes Ruta</button> -->
<div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="nombreProducto" [(ngModel)]="nombreProducto" placeholder="Nombre Producto" aria-label="Nombre Producto" aria-describedby="btnBuscarProducto">
        <div class="input-group-append">
            <button class="btn btn-danger" type="button" (click)="limpiarNombre()" name="btnLimpiarNombre" id="btnLimpiarNombre">X</button>
            <button class="btn btn-primary" type="button" (click)="buscarProducto()" name="btnBuscarProducto" id="btnBuscarProducto">&nbsp;Buscar&nbsp;</button>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="codigoProducto" [(ngModel)]="codigoProducto" placeholder="Codigo Producto" aria-label="Codigo Producto" aria-describedby="btnCodigoProducto">
        <div class="input-group-append">
            <button class="btn btn-danger" type="button" (click)="limpiarCodigo()" name="btnLimpiarCodigo" id="btnLimpiarCodigo">X</button>
            <button class="btn btn-primary" type="button" (click)="buscarProductoPorCodigoSerfel()" name="btnCodigoProducto" id="btnCodigoProducto">Agregar</button>
        </div>
    </div>
</div>
<!-- *ngIf="productosVenta && productosVenta.length > 0" -->
<div class="row m-1">
    <div *ngFor="let producto of productosVenta; let indice = index" class="w-100 m-0 border-bottom" style="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; padding: 10px 10px 10px 10px;" (click)="detalleProducto(producto, indice)">
        <div class="col-md-1 col-sm-1 col-5">{{ producto.codSerfel }}</div>
        <div class="col-md-2 col-sm-2 col-7 bg-green">{{ producto.nomProducto }}</div>
        <div class="col-md-2 col-sm-2 col-7 order-4 text-left">{{ producto.nomMarca }}</div>
        <div class="col-md-2 col-sm-2 d-none d-sm-block">{{ producto.nomUM }}</div>
        <div class="col-md-1 col-sm-1 d-none d-sm-block">Stock {{ producto.cantidadStock - producto.cantidadPedida | number }}</div>
        <div class="col-md-1 col-sm-1 col-5 order-3">{{ producto.precio | moneda }}</div>
        <div class="col-md-1 col-sm-1 d-none d-sm-block">%Max: {{ producto.maxPorcenDesc }} %</div>
        <div class="col-md-1 col-sm-1 col-5 order-5">Uni: {{ producto.cantidad | number }}</div>
        <div class="col-md-1 col-sm-1 col-7 order-6">%Desc: {{ producto.porcenDesc }}</div>
    </div>
</div>
<div class="row" *ngIf="productosVenta && productosVenta.length > 0">
    <div class="col-12">
        <div class="product_price" style="float:right;">
            <h1 for="lblTotalNeto" class="price">{{ totalCompra | moneda }}</h1>
        </div>
    </div>
    <div class="col-12 text-right">
        <button class="btn btn-primary" type="button" (click)="modificarPedido()">Modificar Pedido</button>
    </div>
</div>